* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Poppins;
  src: url("Poppins-ExtraBold.ttf");
}
body {
  overflow: hidden;
  height: 100vh;
  background: #fff;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.container {
  background: url("https://cdn.pixabay.com/photo/2016/07/05/00/28/background-1497873_1280.jpg")
    rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Poppins;
  font-weight: 900;
  font-size: clamp(1.5rem, 15vw, 15rem);
  font-weight: 900;
  text-transform: uppercase;
  perspective: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow,
.glow-shadow {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
}

.glow {
  background: inherit;
  background-size: cover;
  background-position: center;
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  mix-blend-mode: plus-lighter;
  filter: drop-shadow(0px 0px 5px hsl(248, 16%, 39%))
    drop-shadow(0px 0px 10px hsl(248, 16%, 39%));
  left: 50%;
  top: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
}

.glow-shadow {
  color: hsl(20, 100%, 98%);
  mix-blend-mode: soft-light;
  filter: brightness(2);
  transform: translateY(10%) rotateX(81deg) scaleY(-1) translateY(-15%)
    scaleY(1.35);
  bottom: 0;
}

@media (orientation: portrait) {
  .glow-shadow {
    transform: translateY(7%) rotateX(81deg) scaleY(-0.27) translateY(-11%)
      scaleY(7.35);
  }
}
